@font-face {
    font-family: 'Roboto light';
    src: url(fonts/Roboto-Light.ttf)
}
@font-face {
    font-family: 'Roboto' ;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto medium';
    src: url(fonts/Roboto-Medium.ttf);
}
* {
    margin: 0;
    right: 0;
    font-family: 'Roboto';
}
header { 
    background-color: #1F2937;
    color: #F9FAF8;
}
nav {
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   padding: 10px 10px;
   font-family: 'Roboto','Times New Roman', Times, serif;
   font-size: 24px;
}
nav h1 a {
    text-decoration: none;
    color: #F9FAF8;
}
nav ul {
    list-style: none;
    font-family: 'Roboto medium','Times New Roman', Times, serif;
}
nav ul li {
    display: inline-block;
    font-size: 18px;
    padding: 0px 20px ;
    font-family: 'Roboto medium','Times New Roman', Times, serif;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    POSITION: relative; 
}
nav ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color:white;
    margin-top: 30px;
    left: 0;
    transition : 0.7s;
  }
nav ul li a:hover:after{
    width: 100%;
}
.top-section{
    margin :100px 300px; 
    margin-right: 300px;
    display: flex;   
    justify-content: space-evenly;
    
}
.top-section section {
    flex: 1;
    margin-bottom: 120px;
}
.top-section h1 {
    font-family: 'Roboto','Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bolder;
}
.top-section p {
    font-family: 'Roboto medium','Times New Roman', Times, serif;
    font-size: 18px;
}
.top-section img {
    flex:1;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 50px;     
}
#btn {
    color: white;
    background-color:#3882F6 ;
    font-family: 'Roboto medium','Times New Roman', Times, serif;
    border: 0;
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 7px;
}
.third h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-family: 'Roboto','Times New Roman', Times, serif;
    font-weight: bolder;
}
#third-section {
    margin-top:30px;
    display: flex;
    justify-content:space-around;
    margin-left:300px;
    margin-right:300px;
    font-family: 'Roboto','Times New Roman', Times, serif;
    margin-bottom: 50px;
}

#third-section div {
    width: 150px;
    text-align: center;
    color: #1F2937;
}
#third-section div div {
    width :150px;
    height : 150px;
    border: solid #3882F6;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5px;
}
#third-section img {
    max-width: 100%;
    border-radius: 8px;
}
.fourth {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    color : #1F2937;
    font-family: 'Roboto light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.fourth p {
    font-size: 36px;
    margin-left: 300px;
    margin-right: 300px;
}
.fourth span {
  float: right;
  margin-right:300px;
  font-size: 18px;
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fifth {
    padding: 50px;
    border-radius: 10px;
    background-color: #3882F6;
    font-family: 'Roboto medium','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 100px ;
}
.fifth button {
    float: right;
    background-color: #3882F6;
    font-family: 'Roboto medium','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    border: white solid;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    transition: 0.6s;
}
.fifth button:hover{
    transform:scale(1.2);
}
footer {
    background-color: #1F2937;
    position:static;
    bottom:0;
    height: 70px;
    color: white ;
    font-family: 'Roboto Light','Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}